* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebar {
  width: 200px;
  background-color: black;
  height: 100vh;
  position: fixed;
}
.sidebar .sidebar-menu {
  padding: 5px;
  margin-top: 2rem;
}
.sidebar-items {
  padding: 10px;
}
.sidebar-items li {
  list-style: none;
  padding: 15px;
  color: white;
}
h1 {
  color: white;
}
.main-content {
  margin-left: 250px;
}
.main-content .header {
  text-align: end;
  padding-top: 1rem;
  margin-right: 120px;
}
.card-style {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  border: 1px solid #deebdf;
  box-shadow: -8px 12px 18px 0 #dadee8;
}
.card-style .form-check input {
  padding: 10px;
}
.form-check:not(:first-child) {
  margin-top: 10px;
}
.form-check label {
  padding: 2px 0 0 10px;
}
